.movie-page .movie-info {
  color: #FFF;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2rem auto;
}

.movie-page svg {
  font-size: 1.5rem;
  color: #f7d354;
}

.movie-page .movie-card {
  text-align: center;
}

.movie-page .movie-card:hover {
  box-shadow: 0 0 0;
}

.movie-page .movie-card img,
.movie-page .movie-card h2,
.movie-page .movie-card p {
  margin-bottom: 1rem;
}

.movie-page .movie-card h2 {
  font-size: 2rem;
}

.movie-page svg path {
  color: #f7d354;
}

.movie-page .movie-card p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.tagline {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.info {
  margin-bottom: 1.5rem;
}

.info h3 {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.description {
  line-height: 1.4rem;
}

.genre {
  display: flex;
}

.genre p {
  padding-right: 0.5rem;
}

.movie-page .container-grid .movie-card {
  width: 30%;
}

.movie-page .movie-card img, .movie-page .movie-card h2, .movie-page .movie-card p, h2 {
  margin-bottom: .3rem;
}

.container .similar-movie-title {
  margin-top: 6rem;
}

.movie-page .similar-movies h2 {
  font-size: 1.5rem;
}

.movie-page .similar-movies img {
  max-height: 420px;
}


.back-to-home {
  font-size: 2rem;
  color: #FFF;
  text-align: center;
  padding-bottom: 2rem;
}

.back-to-home a {
  color: white;
}

.back-to-home a:hover {
  text-decoration: underline;
}