.footer {
  background-color: #222;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: .5rem 0;
}

.social-list li {
  margin: 0.2rem 1rem;
}

.footer .social-list li a svg {
  color: white;
}

.social-list li a svg path:hover {
  color: var(--primary-light);
}

.social-list svg {
  cursor: pointer;
}

.social-list svg {
  height: 25px;
  width: 23px;
}

.movie-lib-footer {
  cursor: pointer;
  color: var(--primary-light);
}

.developed a:hover {
  font-weight: bold;
  text-decoration: underline;
}