* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

:root {
  --primary-light: #F7d354;
  --primary-dark: #b8930c;
}

body {
  background-color: #000
}

a {
  text-decoration: none;
  color: var(--primary-light);
  transition: .5s;
}

a:hover {
  color: var(--primary-dark);
}
